@import url(./_invalid/popup__save_invalid.css);
.popup__save {
  background-color: black;
  color: white;
  padding: 13.66px 124px 18.49px 125px;
  margin: 31px auto 36.51px auto;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  max-width: 358px;
  width: 100%;
}

.popup__save:hover {
  background: rgba(0, 0, 0, 0.8);
  color: #ffffff;
  border-radius: 2px;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__save {
    width: 220px;
    box-sizing: border-box;
    padding: 12px 48px 14px 48px;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
  }
}
