.popup__imgtext {
  margin-bottom: 200px;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  text-align: start;
  margin-top: 0;
}
