.profile__avatar-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  transition: .3s ease;
  background-color: red;
  background-image: url(../../../images/editavatar.svg) no-repeat center;
  opacity: 0;
  display: none;
}
