@import url(./profile__avatar-hover.css);
@import url(./profile__avatar-overlay.css);
.profile__avatar {
  border-radius: 50%;
  width: 120px;
  height: 120px;
  background-size: cover;
  object-fit: cover;
}

.profile__avatar:hover .profile__avatar-hover {
  display: block;
  background: rgba(0, 0, 0) url(../../../images/editavatar.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 26px;
  border: none;
}

@media screen and (max-width: 620px) {
  .profile__avatar {
    margin-right: auto;
    margin-left: auto;
  }
}
