.popup__edit-form {
  margin-left: auto;
  margin-right: auto;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (min-width: 620px) {
  width: 358px;
}
